<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="%RUTA%/css/lightbox.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]><link href="css/stylesie7.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 6]><link href="css/stylesie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>

<body style="background:#ffffff; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; margin:0; padding:15px;">
	
	<table border="0" align="center" width="620" cellpadding="0" cellspacing="0">
		
		
		<tr>
        	<td style="background:#f2f2f2; padding:20px;"><p style="color:#0039a6; font-size:18px;">%NOMBRES%
            </p>
        	  <p style="font-size:18px; color:#00b259; font-weight:bold;">%FELICITACIONES%<br>
        	  </p>
     			%ATRIBUTOS%
       	  
       	  
       	  <p style="font-size:13px; color:#747678;"> Muchas gracias,       <br>
   	      Interbank. </p></td>
        </tr>   
    <tr> <td colspan="3" height="20"><img src="%RUTA_IMAGEN%/MailingSolicitudesC_05.jpg" width="620" height="258" style="display:block" border="0" /></td></tr>
	<tr> <td colspan="3"><img src="%RUTA_IMAGEN%/MailingSolicitudesC_09.jpg" usemap="#Map" border="0"></td></tr>
    </table>
<map name="Map">
  <area shape="rect" coords="338,68,448,81" href="http:www.interbank.com.pe" target="_blank" alt="web interbank">
  <area shape="rect" coords="21,117,204,129" href="mailto:correos-sospechosos@intercorp.com.pe" alt="correo sospechoso">
  <area shape="rect" coords="387,130,531,139" href="mailto:netactiva24@intercorp.com.pe" alt="netactiva">
</map>
</body>
</html>
