<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mensaje de Error</title>
<link href="/halcon-theme/css/styles.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	background: #ffffff !important;
}
.recomendable2 {
	left: 0;
	padding: 15px;
	position: absolute;
	top: 0;
	width: 200px;
	height:200px;
	z-index: 105;
}
 .alin{
	
	text-align:center;
	width:150px;
	  margin: 55px auto 0 auto;}
	  .alin p {
		  margin-top:15px;
		  color:#777777;
		  font-size:12px;
		  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
</style>
</head>

<body>
<div class="recomendable2">
	<div class="alin">
    	<img src="/halcon-theme/images/halcon/vistoerror.jpg" border="0" />
        <p>Debes ingresar al menos una palabra clave <br />para buscar preguntas frecuentes</p>
    </div>

</div>
</body>
</html>
