<table width="620" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2"><img src="%RUTA_IMAGEN%/logo-lbox.jpg" width="160" height="48" border="0" /></td>
  </tr>
  <tr>
    <td colspan="2" style="border-bottom:1px solid #eeeeee;">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td width="124">&nbsp;</td>
    <td width="486"><table width="520" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; color: #333;">
      <tr>
        <td bgcolor="#eeeeee" width="30">&nbsp;</td>
        <td colspan="3" bgcolor="#eeeeee" style="vertical-align:middle; color:#444444;font-size:14px; font-weight:bold; line-height:30px;">Datos del contacto</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:15px;font-size:12px; color:#999999">Aun No soy Cliente de<br />
          Interbank</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee; line-height:30px; font-size:12px; color: #444444;">%ESCLIENTE%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Nombres</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%NOMBRES%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Apellidos</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%APELLIDOS%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Correo Electr&oacute;nico</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%EMAIL%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Tipo de Documento</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%TIPODOCUMENTO%</td>
      </tr>
            <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">N&uacute;mero de Documento</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%NUMERODOCUMENTO%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Direcci&oacute;n</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%DIRECCION%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Departamento</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%DEPARTAMENTO%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Provincia</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%PROVINCIA%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Distrito</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%DISTRITO%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Telefono</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%TELEFONO%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Fecha y Hora</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%FECHAHORA%</td>
      </tr>
      <tr>
        <td bgcolor="#eeeeee" width="30">&nbsp;</td>
        <td colspan="3" bgcolor="#eeeeee" style="vertical-align:middle; color:#444444;font-size:14px; font-weight:bold; line-height:30px;">%TIPOMENSAJE%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Tipo Tema</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%TIPOTEMA%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td width="140" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Importe</td>
        <td width="18" align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td width="332" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%IMPORTE%</td>
      </tr>
      <tr>
        <td width="30">&nbsp;</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;color:#999999">Mensaje</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">:</td>
        <td style="border-bottom:1px solid #eeeeee;line-height:30px;font-size:12px;">%MENSAJE%</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>