<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Interbank</title>
<link href="%RUTA_CSS%/lightbox.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]><link href="%RUTA_CSS%/stylesie7.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 6]><link href="%RUTA_CSS%/stylesie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<body class="resultado-sol">
<div class="content-milkbox2 fixMargin-video">
  <div class="cabecera-lbox width640"></div>
  <h2>%TITULO%</h2>
  <div class="video-lgt">
 	 	<object width="640" height="360">
			<param name="movie" value="%URL%"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="%URL%" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true"></embed>
		</object>	
  </div>
</div>
</body>
</html>