

<div class="error-cont">
        <div class="error-dialog"> <img src="/PaginaError404-portlet/img/error-img-00.jpg" border="0" align="middle"  alt="Ups..."/>
        
        	 <h2>%TITULO%</h2>
	          <p>%MENSAJE%</p>
	          <p class="special">%SUBMENSAJE%</p>
	          <br class="both">
	          
      	</div>
   <div class="cntr">
   <a href="%URL_ANTERIOR%" title="P&aacute;gina anterior" class="ant" ><em></em>P&aacute;gina anterior</a> 
   <a href="/" title="Ir al Home" class="home" ><em></em>Ir al Home</a> 
   </div>
   <br class="both">
</div>
<div class="both"></div>